@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1> Selamat Datang Di Website Sistem Informasi Rental Kendaraan</h1>
    <p class="lead"> Website ini berguna untuk toko dalam melakukan aktifitas rental kendaraan motor, mobil</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn More &raquo;</a> </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Barang Bagus</h2>
        <p>
            Barangnya Bagus-Bagus loh.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn More &raquo;</a></p>
        <div class="col-md-4">
            <h2>Murah</h2>
            <p>
                Murah-murah loh.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Keren dan terbaru</h2>
            <p>
                Motor Keren-keren.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn More &raquo;</a></p>
        </div>

        </div>
    </div>
